.thu{
    background-color: rgb(62, 65, 240);
    color: rgb(10, 10, 10);
    width: 30%;
    float: left;
}
.thu1{
    background-color: rgb(54, 240, 79);
    color: rgb(248, 248, 248);
    width: 55%;
    float: left;
}
.thu2{
    background-color: rgb(223, 52, 29);
    color: black;
    width: 15%;
    float: right;
}
