*{
    box-sizing: border-box;
    height: 45px;
}
.thu{
    background-color: rgb(245, 242, 241);
    color: black;
    width: 30%;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.thu1{
    background-color: rgb(245, 242, 241);
    color: black;
    width: 55%;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.thu2{
    background-color: rgb(245, 242, 241);
    color: black;
    width: 15%;
    float: right;
}
.thu3{
    margin-bottom: 10px;
    height: 40px;
}
