<a (click)="toggleForgot()" routerLink="/create-category">
  Create Category
</a>
<nav>
  <a routerLink="/">&lt; Go Back to HomePage</a>
</nav>
<mat-card class="example-card">
    <mat-card-header><h2>Create Category</h2></mat-card-header>
<div layout="colunm" layout-align="center center" ng-app="">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput name="category" placeholder="Input Category Name" #categoryName>
    </mat-form-field>
    <label><b>Choosing you Face that you want to show first:</b></label>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Choose one of faces" name="face" #faceValue>
        <mat-option *ngFor="let face of faces" [value]="face.value">
          {{face.viewValue}}
        </mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
    <button class="big-button" (click)="onSubmit(categoryName.value,faceValue.value)"(click)="btnClick()" mat-raised-button color="primary">Add Category</button>
    <button class="big-button" mat-raised-button color="warn" (click)="backClicked()">Cancel</button>
  </form>
</div>
</mat-card>